@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.case-form {
  font-family: 'Rubik', sans-serif;

  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #93b1a6;
}